import pandas as pd

In [11]:
df = pd.read_csv('student_grades.csv')

In [12]:
df.head()

      Student  Grade
0  John Smith     80
1  Jane Smith     75
2    John Doe     65
3    Jane Doe     90

<a href=https://www.cognitiveclass.ai> Cognitive Class</a>

In [1]:
A='1934567'

In [2]:
A[1::2]

'946'